
* {
    margin: 0;
    list-style: none;
}




body {
    font-family: 'Poppins', sans-serif;
    background-size: 100%;
}

h1 {
    color: #383850;
    font-size:28px;
}

a {
    color: #142233;
    text-decoration: none;
}

/*Nav Bar Items*/


.navigation {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-block {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;

}

.logo {

    padding-left: 3.5%;
    padding-right: 1%;
    text-align: left;
    display: inline-block;
    width: 200px;
    cursor: pointer;
}

.inline-block ul {
    display: inline-flex;
    justify-content: space-between;
    color: #142233;
    padding-right: 40px;
   

}

.inline-block li {
    padding-right:40px;
    float:left;
    position:relative;
    width:auto;
}

.name {
    display: inline-flex;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;

}

nav {
    display: inline-block;
    cursor: pointer;
}

nav a:hover {
    color:#1486b8;
    font-weight:600;
    /* text-decoration-line: underline; */
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    

}

/* nav a.navActive:hover,
nav a.navActive:active 
{
    color: #1486b8;
    font-weight: bold;
} */

.navbar {
    transition: .2s;
}

.active {
    color: #1486b8;
    font-weight: 600;
    text-decoration: underline  2.3px;
    text-underline-offset: 5px;
}

/* .active:hover {
    /* text-decoration:underline overline 2.3px; */
 

/* .inline-block li:hover {
    font-weight: bold;
    scale: 1.05;
} */


/* footer li:hover {
    font-weight: bold;
    scale: 1.05;
} */

.inline-block li {
    display: inline-block;
    padding: 20px 40px;
}

#submenu {
    left:0;
    opacity:0;
    position:absolute;
    top:35px;
        visibility:hidden;
    z-index:101;
    display:flex;
    flex-direction: column;
    background:#ffffff;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right:20px;
    width:130px;
    
}

li:hover ul#submenu{
    opacity:1;
    top:60px;
    visibility: visible;    
}

#submenu li {
    float:none;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    font-size:15px;

}

/*Resume*/
.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSide button {
    margin-top: 20px;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right:4px;
    border-radius: 4px;
    background-color: #142233;
    color: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #1486b8;
    transform: scale(1.02);
    color:white;
}

.downloadbutton {
    background-color: #f9f9f9c0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:40px;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 100;
    box-shadow: 5px 1px 5px 1px rgba(0, 0, 0, 0.089);
    display: flex;
    flex-direction: column;
    align-items: center;
}

   /*footer*/

   footer li:hover {
    font-weight: bold;
    scale: 1.05;
}

nav li {
    display: inline-block;
    padding: 0px 10px;
}

footer {
    background-color: #373738;
    padding: 2%;
 
    height: 150px;
    align-content: center;

}

#contactFoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contactFoot img {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#contactFoot img:hover {
    transform: scale(1.13);
}

.contactText {
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 10px;
}


.contactText u:hover{
    font-weight: 600;
}

.copyright {
    font-family: 'Poppins', san-serif;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    justify-content: center;
    align-self: right;
    padding-top: 10px;
}




/*media query*/
@media only screen and (max-width: 1000px) {  

    .navigation {
        background-color: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.3);
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
         
    }

    

    .inline-block li {
        padding-right:20px;
        padding-left:20px;

    }

    #myPDF {
        height:800px !important;
    }

}

@media only screen and (max-width: 600px) {  

    #submenu li {
    font-size:14px; 
}

.navigation li {
    font-size:14px;
}


.contactText {
    font-size: 12px;
   }

   .copyright {
    font-size: 13px;
   }
}